
@{
    ViewData["Title"] = "DisplayRegistrant";
}

@model Lab18.Models.Registrant

<h1>Display Registrant</h1>

<p>Hi, @Model.FirstName! You have just registered! Your Password is @Model.Password, your phone is @Model.PhoneNumber and your email address is @Model.Email!!</p><br />
<p>You were born on @Model.DOB!</p>